<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-folder-open fa-6x"></i>
    <h1 class="display-3">Project Archive API</h1>
    <hr>
    <a class="btn btn-light btn-lg register" href="/upload" role="button"><i class="fas fa-upload "></i>Uploads</a>
    <a class="btn btn-dark btn-lg logins" href="/dashboard" role="button"><i class="fas fa-folder-open "></i> Projects</a>

  </div>
</div>

<%- include('partials/footer') %>
