<!-- @format -->

<%- include('partials/header') %>

<div class="container mt-5">
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Inputs Error</h4>
  <p><%= message %>.</p>
  <hr>
  <p class="mb-0"><a href="/edit/<%= id %>">Back</a></p>
</div>
</div>

<%- include('partials/footer') %>
